<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form method="post">
		<input type="hidden" name="step" value="branches" />
		<input type="hidden" name="base" value="master" />
		<input type="hidden" name="head" value="develop" />
		<input type="submit" />
	</form>
</body>
</html>
<!-- # vi: set noet ts=2 sw=2 sts=0 : -->
