<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Refresh" content="60; URL=<%= res.html_url %>" />
	<title>created</title>
</head>
<body>
	<div>
		<a href="<%= res.html_url %>"><%= res.html_url %></a>
	</div>
</body>
</html>
<!-- # vi: set noet ts=2 sw=2 sts=0 : -->
