<p class="c-paragraph">Following pull request has been created.</p>
<p class="c-paragraph c-text--mono u-centered"><a href="<%= res[:html_url] %>"><%= res[:html_url] %></a></p>
<p class="c-paragraph u-small">Will be redirected in 5 sec.</p>
<script type="text/javascript">
    window.setTimeout(function () {
        location.href = "<%= res[:html_url] %>";
    }, 3000);
</script>
