<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>bad compare</title>
</head>
<body>
	<div>
		on <%= repo_name %>, <%= head %> branch is not ahead of <%= base %>. (<%= status %>)
	</div>
</body>
</html>
<!-- # vi: set noet ts=2 sw=2 sts=0 : -->
