<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>repositoy not found</title>
</head>
<body>
	<p>
		Repository <%= repo_name %> wasn't found.
		Repository name is wrong or you don't have enough privileges.
	</p>
</body>
</html>
<!-- # vi: set noet ts=2 sw=2 sts=0 : -->
