<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>auth error</title>
</head>
<body>
	<div>
		auth error on <%= repo_name %> occured.
	</div>
</body>
</html>
<!-- # vi: set noet ts=2 sw=2 sts=0 : -->
