<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Prrrr</title>
    <link rel="stylesheet" type="text/css" href="/css/blaze.min.css" />
</head>
<body class="c-text" style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center">
        <h1 class="c-heading u-super" style="font-size: 4rem; padding-top: 0;">PR-R-R-R</h1>
        <h2 class="c-heading">Usage</h2>
        <p>Access <span class="c-code"><%= url("/") %><em>user</em>/<em>repository</em></span></p>
    </div>
</body>

