<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>Prrrr: <%= repo_name %></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/blazecss/3.2.0/blaze.min.css" />
</head>
<body class="c-text" style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center">
        <h1 class="c-heading u-super" style="font-size: 4rem; padding-top: 0;">PR-R-R-R</h1>
        <a href="<%= github_login_url %>" class="c-button u-xlarge">Login with GitHub</a>
    </div>
</body>

