<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Prrrr: <%= repo_name %></title>
    <link rel="stylesheet" type="text/css" href="/css/blaze.min.css" />
    <style type="text/css">
.c-field--inline {
    display: inline;
    width: auto;
}

#div-form-pr-body {
    opacity: 0.0;
}
#div-form-pr-body.visible {
    opacity: 1.0;
    transition-property: all;
    transition-duration: 1s;
}
    </style>
</head>
<body data-repo-name="<%= repo_name %>" class="c-text">
    <div class="o-container o-container--medium" style="margin-top: 4rem; margin-bottom: 4rem;">
        <h1 class="c-heading">PR-R-R-R</h1>

        <div id="div-error" style="display: none;" class="c-alert c-alert--error">
            <button id="button-close-alert" class="c-button c-button--close">×</button>
        </div>
        <div id="div-selected-branch" class="u-large" style="display: none;">
            Release
            <span class="c-code"><%= repo_name %></span>
            into <span id="text-base-branch" class="c-badge c-badge--default"></span>
            from <span id="text-head-branch" class="c-badge c-badge--default"></span>
            <button id="button-edit-branch" class="c-button c-button--ghost u-xsmall">Edit</button>
        </div>
        <div id="div-branch-selector" class="u-large" style="display: none;">
            Release
            <span class="c-code"><%= repo_name %></span>
            into <select id="select-base-branches" class="c-field c-field--inline u-small"></select>
            from <select id="select-head-branches" class="c-field c-field--inline u-small"></select>
        </div>
        <div id="div-generate-pr-body" class="u-centered" style="display: none;">
            <button id="button-generate-pr-body" class="c-button c-button--info u-xlarge" style="margin-top: 2rem;">
                Gather Pull-Requests
            </button>
        </div>
        <div id="div-form-pr-body" style="margin-top: 1rem;"></div>
        <div id="div-loading" class="u-center-block" style="display: none;">
            <img src="/img/loading.gif" class="u-center-block__content u-center-block__content--horizontal" />
        </div>
        <div id="div-pr-created" style="display: none;"></div>

    </div>

    <script type="text/javascript" src="/js/main.js"></script>
</body>

